.zgb {
  margin-top: 16px;
  .limit-top-stocks {
    margin-top: 15px;
    .limit-top-stocks-line {
      display: flex;
      flex-wrap: no-wrap;
      .limit-top-stocks-lbs {
        flex-basis: 90px;
        flex-shrink: 0;
        font-size: 24px;
        color: #333;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4f4;
        margin-bottom: 8px;
      }
      .limit-top-stocks-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 8px;
        flex-grow: 1;
        .limit-top-stocks-item {
          position: relative;
          flex-basis: 196px;
          flex-shrink: 0;
          margin: 0 8px 8px 0;
          background-color: #f4f4f4;
          font-size: 24px;
          cursor: pointer;
          padding: 20px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          &:nth-child(3n) {
            margin-right: 0;
          }
          &.is-like-price {
            color: red;
          }
          .jian-guan {
            position: absolute;
            z-index: 6;
            top: 0;
            right: 0;
            font-size: 12px;
          }
          .stock-info {
            position: absolute;
            z-index: 6;
            top: 0;
            left: 0;
            font-size: 12px;
            span {
              margin-right: 2px;
            }
          }
          .stock-block {
            position: absolute;
            z-index: 6;
            bottom: 0;
            left: 0;
            font-size: 12px;
          }
        }
      }
    }
  }
  .zgb-jj-fails-warp {
    .zgb-jj-fails-container {
      .zgb-jj-fail-item {
        display: flex;
        height: 38px;
        &.header {
          margin-bottom: 10px;
          .column {
            font-size: 20px;
            font-weight: 600;
            line-height: 38px;
          }
        }
        .column {
          font-size: 18px;
          flex: 1 1;
          &.name {
            flex-grow: 2.3;
          }
          .zf {
            color: red;
            font-family: 600;
          }
          .df {
            color: green;
            font-family: 600;
          }
        }
      }
    }
  }
}
