.zgb {
  margin-top: 24px;
  .limit-top-stocks {
    display: flex;
    flex-wrap: wrap;
    .limit-top-stocks-item {
      font-size: 24px;
      padding-right: 10px;
      padding-bottom: 3px;
      color: #1890ff;
      cursor: pointer;
    }
  }
  .zgb-jj-fails-warp {
    .zgb-jj-fails-container {
      .zgb-jj-fail-item {
        display: flex;
        height: 38px;
        &.header {
          margin-bottom: 10px;
          .column {
            font-size: 20px;
            font-weight: 600;
            line-height: 38px;
          }
        }
        .column {
          font-size: 18px;
          flex: 1 1;
          &.name {
            flex-grow: 2.3;
          }
          .zf {
            color: red;
            font-family: 600;
          }
          .df {
            color: green;
            font-family: 600;
          }
        }
      }
    }
  }
}