.index-container {
  width: 750px;
  height: 100vh;
  overflow-x: hidden;
  .header {
    display: flex;
    background-color: #ff0000;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    // margin-bottom: 5px;
    .logo {
      height: 100%;
      width: auto;
    }
  }
  .content {
    padding: 24px;
  }
}
