.index-container {
  width: 750px;
  height: 100vh;
  padding: 24px;
  overflow-x: hidden;
  .title {
    font-size: 24px;
    font-weight: 600;
    padding: 5px 0 15px;
  }
  .zt-dt {
    .g2-tooltip {
      top: 260px !important;
      left: 0 !important;
    }
  }
  .lb {
    // margin-top: 24px;
    padding-bottom: 24px;
  }
  .market-amount {
    margin-top: 24px;
  }
  .zgb {
    margin-top: 24px;
    .limit-top-stocks {
      display: flex;
      flex-wrap: wrap;
      .limit-top-stocks-item {
        font-size: 26px;
        padding-right: 10px;
        padding-bottom: 3px;
        color: #1890ff;
        cursor: pointer;
      }
    }
  }
  .jj-fail {
    margin-top: 24px;
  }
  .zgb-jj-fails-warp {
    margin-top: 24px;
    .zgb-jj-fail-title {
      font-size: 24px;
      font-weight: 600;
    }
    .zgb-jj-fails-container {
      margin-top: 12px;
      .zgb-jj-fail-item {
        display: flex;
        height: 38px;
        &.header {
          margin-bottom: 10px;
          .column {
            font-size: 20px;
            font-weight: 600;
            line-height: 38px;
          }
        }
        .column {
          font-size: 18px;
          flex: 1 1;
          &.name {
            flex-grow: 2;
          }
          .zf {
            color: red;
            font-family: 600;
          }
          .df {
            color: green;
            font-family: 600;
          }
        }
      }
    }
  }
}
